<div class="container">
    <h1 class="jumbotron text-center">Wacky Widgets</h1>
    <% if @widgets.length > 0 %>
        <table>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th> 
                <th>Age</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td> 
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td> 
                <td>94</td>
            </tr>
        </table>
    <% else %>
        <h3 class='text-center'>No Widgets Exist</h3>
    <% end %>


    <hr>
    <h4>Add a New Widget:</h4>
    <div class="form-group">
        <%= form_for @widget do |f| %>
            <div>
                <%= f.label :description %>
                <%= f.text_field :description, class: "form-control" %>
            </div>
            <div>
                <%= f.label :quantity %>
                <%= f.text_field :quantity, class: "form-control"  %>
            </div>
            <%= f.submit "Add Widget!", class: "btn btn-success" %>
        <% end %>
    </div>


</div>